body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
}

ul.PSW {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.PSW .bit {
  display: inline-block;
  width: 2rem;
  padding: 0.25rem;
  text-align: center;
  background-color: #f0f0f0;
  color: #e0e0e0;
  transition: background-color 0.2s;
  border: 0.2 px solid #cfc;
  border-radius: 0.25rem;
}

.PSW .bit.is-set {
  color: #808080;
  background-color: #cfc;
}

.playground {
  max-width: 960px;
  position: relative;
  padding: 0.5rem;
}

.playground .front-panel {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
}

.playground.visible .front-panel {
  max-height: 100vh;
}

.playground .front-panel h1{
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

.holder h3{
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.4rem;
}


.holder {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: #ede 0.1rem 0.1rem 0.4rem 0.02rem;
  margin-bottom: 0.5rem;
}

.holder button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.holder-controls {
  margin-left: 5px;
}

.holder-psw {
  margin-right: 5px;
}

.holder-psw ul {
  margin-top: 0rem;
}

.holder-psw h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.holder-psw hr {
  color: #ede;
  width: 50%;
}

.holder-psw button {
  margin-top: 1.5rem;
}

.playground .open-playground {
  display: inline-block;
  position: absolute;
  opacity: 100%;
  transition: opacity 1s;
  right: 5px;
  top: 5px;
}

.playground.visible .open-playground {
  opacity: 0;
}

.playground .registers {
  border-spacing: 0;
  border-collapse: collapse;
}

.playground .registers tr > * {
  padding: 0.5em 1em;
  margin: 0;
}

.playground .registers tr:not(:last-child) > * {
  border-bottom: 0.25px solid #bbb;
}

.playground .registers th {
  font-size: small;
  font-weight: normal;
  padding-right: 1em;

}

.playground .registers td {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.assembler-gutter {
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
}

.playground.visible .assembler-gutter {
  max-width: 100vh;
}

.playground .cm-gutters {
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
}
.playground.visible .cm-gutters {
  max-width: 100vh;
}

.playground .cm-pc-gutter {
  height: 1em;
  overflow: visible;
  font-size: 222%;
  color: #4a4;
  position: relative;
  top: -0.1em;
}

.playground .PSW .is-set {
  background: red;
}

.playground .number {
  cursor: zoom-in;
  --read-color: #c0e0f0;
  --read-color-t: #c0e0f000;
  --write-color: #f0f0e0;
  --write-color-t: #f0f0e000;
}

.playground .number.n-16 { width: 3rem; }
.playground .number.n-10 { width: 4rem; }
.playground .number.n-8  { width: 4.5rem; }
.playground .number.n-2  { width: 11rem; }

.playground .number.R { animation: a-r 2s linear; }
@keyframes a-r{
    0%  { background: var(--read-color-t); }
    20% { background: var(--read-color); }
    80% { background: var(--read-color); }
    to  { background: var(--read-color-t); }
}

.playground .number.W { animation: a-w 2s linear; }
@keyframes a-w{
    0%  { background: var(--write-color-t); }
    20% { background: var(--write-color); }
    80% { background: var(--write-color); }
    to  { background: var(--write-color-t); }
}

.playground .number.RW { animation: a-rw 2s linear; }
@keyframes a-rw{
    0% { background: var(--read-color-t); }
    40% { background: var(--read-color); }
    60% { background: var(--write-color); }
    to  { background: var(--write-color-t); }
}

.playground .number.WR { animation: a-wr 2s linear; }
@keyframes a-wr{
    0% { background: var(--write-color-t); }
    40% { background: var(--write-color); }
    60% { background: var(--read-color); }
    to  { background: var(--read-color-t); }
}

.number:hover {
  font-weight: bold;
  background: #def;
}
.number-popup {
  padding: 0.5rem 1rem;
  border: 1px solid #cde;
  box-shadow: #bcd 0.1rem 0.1rem 0.3rem;
  display: flex;
  gap: 1em;
  border-radius: 0.25em;
  background: #e2e9f9;
  position: absolute;
  z-index: 10;
}

.number-popup div:after { vertical-align: sub; }
.number-popup div.b:after { content: "₂"; }
.number-popup div.o:after { content: "₈"; }
.number-popup div.d:after { content: "₁₀"; letter-spacing: -.2em; }
.number-popup div.x:after { content: "₁₆"; letter-spacing: -.2em; }

.highlight {
}

.playground-editor {
  display: flex;
  font-family: monospace;
  gap: 0.5rem;
  font-size: 1rem;
  --line-height: 1.7em;
  line-height: var(--line-height);
}

.playground-editor .cm-scroller {
  line-height: var(--line-height);
}

.gutter {
  min-width:  8rem;
}

.gutter-line-holder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  background: #fff8ff;
  padding-left: 0.5em;
}

.gutter-line {
  width: 100%;
}

.gutter-line .assignment-value {
  display: inline-block;
  text-align: right;
  color: purple;
  margin-right: 1em;
}

.gutter-line .address {
  display: inline-block;
  color: blue;
  margin-right: 1em;
  vertical-align: top;
}

.gutter-line .generated-bytes {
  display: inline-block;
  color: green;
  margin-right: 1em;
}

.gutter-line .generated-bytes span {
  display: inline-block;
  text-align: right;
  margin-left: 0.5emem;
}

.gutter-line-holder .line-number {
  display: inline-block;
  width: 3em;
  text-align: right;
  background: #abc;
}

.editor-panel {
  min-width: 20rem;
}

.base-selector {
	margin: 0 0 1.5rem; 
  box-sizing: border-box;
	font-size: 0;
	display: flex; flex-flow: row nowrap;
	justify-content: flex-start; align-items: stretch;
}
.base-selector  input {width: 0; height: 0; position: absolute; left: -9999px;}
.base-selector	input + label {
		margin: 0; padding: .25rem 1rem; box-sizing: border-box;
		position: relative; display: inline-block;
		border: solid 1px #DDD; background-color: #FFF;
		font-size: 1rem; line-height: 140%; font-weight: 600; text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out, 
					color .25s ease-out, 
					background-color .15s ease-out,
					box-shadow .15s ease-out;
}		
		/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
		/*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
		/* ----- */
		
.base-selector	input + label:first-of-type {border-radius: 6px 0 0 6px; border-right: none;}
.base-selector	input + label:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
.base-selector	input:hover + label {border-color: #c0a0a0; }
.base-selector	input:checked + label {
		background-color: #f0c0c0;
		color: #FFF;
		box-shadow: 0 0 0.1em rgba(200, 0, 0, 0.5);
		border-color: #e0b0b0;
		z-index: 1;
	}
.base-selector  input:focus + label {
    outline: none;
  }

.pdp11-window {
  display: flex;
}
.pdp11-window hr {
  max-width: 3rem;
  margin: 1em;
}
.dummy-gutter .cm-gutterElement { 
  margin-right: 1em
}
#log {
  line-height: 1.4;
}
p {
  max-width: 40%;
}

.tok-punctuation {
  color: red;
}

.tok-macroName { color: green; }

.tok-comment {
  color: #888;
  font-style: italic;
}

.tok-number { color: purple; }
.tok-atom   { color: orange; }
.tok-variableName {
  color: blue;
}

.tok-keyword {
  color: darkred;
}

.logger-panel {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
  character-spacing: 0.2rem;
  border: 1px solid #bed;
  border-radius: 0.5rem;
  background-color: #f0fffe;
}
